.calculateButton {
    margin-left: 35%;
    background: white;
    color: dodgerblue;
    width: 75px;
}

.confirmButton {
    margin-right: 35%;
    background: white;
    color: dodgerblue;
    width: 75px;
}

.startDate {
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
}

.endDate {
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
}

.modalBody {
    max-height: 520px;
    min-height: 300px;
    height: 80%;
}