.notCurrentUserClass {
    color: gray;
    cursor: default;
}

.currentUserClass {
    color: dodgerblue;
    cursor: pointer;
}

.actualRange {
    text-align: center;
}

.workdayRange {
    text-align: center;
}

.card {
    z-index: 200;
}