.calendarTable .dateCell:hover{
    background-color: #f0fbff;
    cursor: pointer;
}

.calendarTable .disabledDateCell:hover{
    /* pointer-events: none; */
    cursor: not-allowed;
}

.calendarTable .dateCell{
    border-radius: 10px;
}

.showCalendarButton :hover{
    cursor: pointer;
}