.lightningCard {
    height: 50px;
    z-index: 1000;
}

.secondDiv {
    margin-top: -25px;
    /* background-color: cornsilk; */
    border-radius: 10px;
}

.inputBox {
    width: 200px;
    text-align: center;
    border-color: gray;
}

.thirdDiv .inputBox:hover {
    cursor: pointer;
}

.thirdDiv {
    z-index: 200;
}

.slds-datepicker {
    width: 400px;
}

.dayOfTheWeek {
    width: 14.28%;
}

.classToday {
    background-color: rgb(0, 255, 229);
    border-radius: 10px;
    cursor: pointer;
}

.classTodayClassWeekend {
    background-color: rgb(0, 255, 229);
    cursor: not-allowed;
}

.classPreviousMonth {
    color: #909699;
    border-radius: 10px;
}

.classPreviousMonthClassWeekend {
    color: #909699;
    background-color: rgb(134, 210, 134);
    border-radius: 0px;
    cursor: not-allowed;
}

.classCurrentMonth {
    color: black;
    border-radius: 10px;
}

.classCurrentMonthClassWeekend {
    color: black;
    background-color: rgb(134, 210, 134);
    border-radius: 0px;
    cursor: not-allowed;
}

.classNextMonth {
    color: #909699;
    border-radius: 10px;
}

.classNextMonthClassWeekend {
    color: #909699;
    background-color: rgb(134, 210, 134);
    border-radius: 0px;
    cursor: not-allowed;
}

.classDateToBeSelected {
    background-color: #f0fbff;
    border-radius: 10px;
}

.classDateToBeSelectedClassWeekend {
    background-color: #f0fbff;
    cursor: not-allowed;
}

.classHoliday {
    color: red;
    border-radius: 10px;
    cursor: not-allowed;
}

.calendarTable .classHoliday:hover {
    background-color: #f0fbff;
}

.classHolidayClassWeekend {
    color: red;
    background-color: rgb(134, 210, 134);
    border-radius: 0px;
    cursor: not-allowed;
}

:is(.classDisabledDate, .classDisabledDateClassWeekend) {
    background-color: #909699;
    cursor: not-allowed;
}

:is(.classPreviousMonth:hover, .classCurrentMonth:hover, .classNextMonth:hover, .classDateToBeSelected:hover) {
    background-color: #f0fbff;
    cursor: pointer;
}

.resetButton {
    margin-left: 27%;
}

.todayButton {
    margin-left: 27%;
}

.backdrop {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}